@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8ed;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

button, a {
  transition: all 0.15s ease;
}
